/* Paleta de colores:
#425156 
#e0e5e9
#83e0e4
#9dca37
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

/* ?INNDEX.HTML*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
}

.grid-index {
  display: grid;
  grid-template-rows: 75px 95vh 150vh 250px;
  max-width: 100%;
}

/* !HEADER - BARRA_NAVEGACIÓN*/

header {
  grid-row: 1/2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 12.5%;
  height: 75px;
  line-height: 75px;
  background-color: #425156;
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav {
  width: 60px;
  height: 60px;
}

nav .nav-list {
  display: flex;
}

nav .nav-list .nav-item {
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
  color: white;
}

nav .nav-list .nav-item-active {
  background-color: #83e0e4;
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
  color: white;
}

nav .nav-list .nav-item:hover {
  background-color: #83e0e4;
}

nav .nav-list .nav-link {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

nav .navbar-toggler {
  /* display: none; */
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 10%;
  transition: 0.4s;
}
input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .nav-list .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .nav-list .navbar-toggler:first-child {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .nav-list .navbar-toggler:nth-child(2) {
  display: none;
}

input:checked ~ nav .nav-list .navbar-toggler:nth-child(3) {
  transform: rotate(-45deg);
}

header a img {
  height: 55px;
  width: 55px;
}

/* !MAIN INDEX- PARTE-PRINCIPAL*/

.main-index {
  display: grid;
  grid-template-rows: 95vh 50vh 100vh;
  height: 100%;
  grid-row: 2/4;
  background-color: #e0e5e9;
}

.container-principal {
  grid-row: 1/2;
  /* background-color: aliceblue; */
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/71.jpg);

  /* url(../img/hero.jpg); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* !MAIN INDEX- PARTE-SECUNDARIA*/

.container-secundario {
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #e0e5e9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% auto;
}

.areas {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.item-1 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: #425156;
  font-size: 2rem;
  padding-bottom: 6rem;
  margin: 0 1rem;
  max-width: 100%;
}

.container-secundario .item-1 i {
  height: 70px;
  width: 70px;
  color: #425156;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1:hover {
  transform: scale(1.1);
  transition: 1s;
  color: #9dca37;
}

.item-1:hover i {
  transform: scale(1.3);
  transition: 1s;
  color: #9dca37;
}

.item-1:hover p {
  transform: scale(1.3);
  transition: 0.5s;
  width: 300px;
  text-align: center;
  color: #425156;
}

.item-2 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: #425156;
  font-size: 2rem;
  padding-bottom: 6rem;
  margin: 0 1rem;
  max-width: 100%;
}

.container-secundario .item-2 i {
  height: 70px;
  width: 70px;
  color: #425156;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-2:hover {
  font-size: 32px;
  transition: 1s;
  color: #e28743;
  transform: scale(1.1);
}

.item-2:hover i {
  transform: scale(1.2);
  transition: 1s;
  color: #e28743;
}

.item-2:hover p {
  transform: scale(1.3);
  transition: 0.5s;
  width: 300px;
  text-align: center;
  color: #425156;
}

.item-3 {
  grid-column: 3/4;
  grid-row: 2/3;
  max-width: 100%;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: #425156;
  font-size: 2rem;
  padding-bottom: 6rem;
}

.container-secundario .item-3 i {
  height: 70px;
  width: 70px;
  color: #425156;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3:hover {
  transform: scale(1.1);
  transition: 1s;
  color: #9933ff;
}

.item-3:hover i {
  transform: scale(1.2);
  transition: 1s;
  color: #9933ff;
}

.item-3:hover p {
  transform: scale(1.3);
  transition: 0.5s;
  width: 300px;
  text-align: center;
  color: #425156;
}

.text-item {
  margin-top: 15px;
}

.text-item .titulo {
  font-size: 2rem;
}

.text-item p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.item-1 .text-item:hover {
  color: #9dca37;
}

.container-img {
  grid-row: 3/4;
  height: 100%;
  max-height: 100vh;
  background-color: #7fe4e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**/

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  background-color: #415259;
  color: #efefef;
}

.box:hover {
  flex: 1 1 50%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}

.container-img span {
  text-transform: uppercase;
}

/* !Footer*/

.pie-de-pagina {
  width: 100%;
  background-color: #415259;
  grid-row: 4/5;
  height: 100%;
}

.pie-de-pagina .grupo-1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.pie-de-pagina .grupo-1 .box-1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-de-pagina .grupo-1 .box-1 figure img {
  display: flex;
  margin-top: 12.2px;
  width: 200px;
  height: 200px;
}

.pie-de-pagina .grupo-1 .box-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  padding: 20px;
}

.pie-de-pagina .grupo-1 h2 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.pie-de-pagina .grupo-1 p {
  margin-bottom: 10px;
  color: #efefef;
  height: 65%;
  text-align: center;
}
.pie-de-pagina .grupo-1 .box-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  padding: 20px;
}

.pie-de-pagina .grupo-1 .red-social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 130px;
  background-color: #415259;
  height: 75px;
  justify-items: center;
  align-items: center;
}

.red-social .ig {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ig i {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
}

.ig i:hover {
  color: #dd2e76;
}

.red-social .fb {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb i {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.fb i:hover {
  color: rgb(66, 91, 167);
}

.red-social .wp {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp i {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.wp i:hover {
  color: rgb(3, 193, 0);
}

.pie-de-pagina .grupo-2 {
  background-color: #2a3539;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  grid-column: 1/4;
  width: 100%;
}

.fa-instagram:before {
  content: "\f16d";
  font-size: 32px;
}

.fa-facebook-square:before,
.fa-square-facebook:before {
  content: "\f082";
  font-size: 32px;
}

.fa-whatsapp:before {
  content: "\f232";
  font-size: 32px;
}

/* ?GALERIA.HTML*/
.body-galeria {
  display: grid;
  grid-template-rows: 75px auto;
}

.header-galeria {
  grid-row: 1/2;
  height: 65px;
  z-index: 1000;
}

.main-galeria {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}

.container-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin: 20px;
}

.container-galeria .imag-galery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border: solid 0.15rem #2a3539;
  z-index: 5;
}

.titulo-galeria {
  position: absolute;
  bottom: 0;
  color: #efefef;
  width: 100%;
  margin: 0;
  padding: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0), #9dca37);
  font-size: 14px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.container-galeria .item-galeria-1 {
  position: relative;
  height: auto;

  width: 100%;
  object-fit: cover;
}
.container-galeria .item-galeria-2 {
  position: relative;
  height: auto;

  object-fit: cover;
}
.container-galeria .item-galeria-3 {
  position: relative;
  height: auto;

  object-fit: cover;
}
.container-galeria .item-galeria-4 {
  position: relative;
  height: auto;

  object-fit: cover;
}
.container-galeria .item-galeria-5 {
  position: relative;
  height: auto;

  align-items: center;
}
.container-galeria .item-galeria-6 {
  position: relative;
  height: auto;
  object-fit: cover;
}
.container-galeria .item-galeria-7 {
  position: relative;
  height: auto;
  object-fit: cover;
}
.container-galeria .item-galeria-8 {
  position: relative;
  height: auto;
  object-fit: cover;
}
.container-galeria .item-galeria-9 {
  position: relative;
  height: auto;
  object-fit: cover;
}

nav .nav-list {
  z-index: 10;
}

/* ?SERVICIOS.HTML*/

.grid-servicios {
  display: grid;
  grid-template-rows: 75px calc(200vh - 75px);
  background-color: aliceblue;
}

.header-servicios {
  grid-row: 1/2;
}

.main-servicios {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: calc(100vh - 75px) 100vh;
  margin: 25px;
  background-color: aliceblue;
}

.info-sobre-servicios {
  grid-row: 1/2;
  background-color: #7fe4e3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.info-sobre-servicios i {
  font-size: 2rem;
  font-weight: 600;
}

.servicios-secundarios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 2/3;
  background-color: aliceblue;
  gap: 15px;
}

.container-img-serv {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 50px;
}

.container-img-serv img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border: 5px solid black;
}

.container-serv-sec {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  grid-template-columns: 1fr;
}

.container-serv-sec .info-servicios-secundarios-1 {
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container-serv-sec .info-servicios-secundarios-2 {
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container-serv-sec .info-servicios-secundarios-3 {
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.info-sobre-servicios i {
  margin: 5px 0;
  width: 100%;
}

.servicios-secundarios i {
  font-size: 2rem;
  font-weight: 600;
}
/* ?CONTACTANOS.HTML*/

.grid-contactanos-html {
  display: grid;
  grid-template-rows: 75px 150vh;
  background-color: aliceblue;
}

.header-contactanos {
  grid-row: 1/2;
}

.main-contactanos {
  grid-row: 2/3;
  margin: 25px;
  display: grid;
  grid-template-rows: 60vh 40vh 50vh;
}

.cartas-encargadas {
  grid-row: 1/2;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  background-color: #7fe4e3;
  gap: 10px;
}

.container-c {
  display: flex;
  padding: 4% 2%;
  box-sizing: border-box;
}
.container-1 {
}

.our-team {
  padding: 45px 100px 100px;
  background-color: #efefef;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #425156;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #425156;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #83e0e4;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #425156;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team:hover .social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 15px;
  /* color: aliceblue; */
  bottom: 0;
}

.our-team .social li a {
  display: block;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #7fe4e3;
  background-color: #425156;
}

/* ?MESAS.HTML*/

.grid-mesas-html {
  display: grid;
  grid-template-rows: 75px auto;
  margin-bottom: 15px;
  align-self: center;
  background-color: aliceblue;
}

.header-mesas {
  grid-row: 1/2;
}
.main-mesas {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-rows: minmax(330px, 330px);
  background-color: aliceblue;
  gap: 25px;
  margin: 45px 45px;
  justify-items: center;
}

.mesa-1 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-2 {
  min-height: 330px;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mesa-3 {
  min-height: 330px;

  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mesa-4 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-5 {
  min-height: 330px;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mesa-6 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-7 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-8 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
.mesa-9 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-9 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-9 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-10 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-11 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.mesa-12 {
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.card h2 {
  z-index: 1;
}

.card-1 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-2 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-3 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-4 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-5 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-6 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-7 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-8 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-9 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-10 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-11 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-12 {
  background-image: url(../img/3706.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.desc-mesa-1 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-2 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-3 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-4 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-5 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-6 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-7 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-8 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-9 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-10 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-11 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-mesa-12 {
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face2 {
  transition: 0.5s;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card:hover .face.face2 {
  height: 60px;
}
h2 {
  font-size: 2em;
}

.card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #9dca37 45%, #9dca37 100%);
  border-radius: 15px;
}

/* !MediaQueries*/

/**CONTAINER MEDIAQUERY INDEX*/ /* ?DESKTOP FIRST*/

@media (max-width: 975px) {
  nav {
    padding: 0 2rem;
    width: 100%;
  }

  nav .nav-list .nav-item {
    padding: 0 20px;
    justify-content: center;
  }

  nav .nav-list {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .main-index {
    display: grid;
    grid-template-rows: 95vh 75vh 125vh;
  }

  .grid-index {
    display: grid;
    grid-template-rows: 75px 95vh 175vh 250px;
  }

  nav .nav-list {
    display: grid;
    position: absolute;
    background-color: #425156;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
  }

  nav .nav-list .nav-item {
    padding-left: 35px;
  }

  nav .navbar-toggler {
    display: grid;
  }

  .container-secundario {
    display: grid;
    height: 75vh;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .container-secundario h1 {
    display: none;
  }
  .container-secundario .item-1 {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .container-secundario .item-1 i {
    padding: 0 2rem;
  }

  .container-secundario .item-2 {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .container-secundario .item-2 i {
    padding: 0 2rem;
  }

  .container-secundario .item-3 {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .container-secundario .item-3 i {
    padding: 0 2rem;
  }
}

@media (max-width: 608px) {
  .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }

  .container-secundario {
    max-width: 608px;
  }

  .box-index-1 {
    grid-row: 1/2;
  }

  .box-index-2 {
    grid-row: 2/3;
  }

  .box-index-3 {
    grid-row: 3/4;
  }

  .pie-de-pagina .grupo-1 .box-1 figure img {
    display: flex;
    margin-top: 12.2px;
    width: 100px;
    height: 100px;
  }

  .pie-de-pagina .grupo-1 {
    gap: 0;
  }
}

@media (max-width: 390px) {
  .item-1 {
    color: #425156;
  }

  .item-1 p {
    transition: 0.5s;
    text-align: center;
    color: #425156;
    font-size: 0.5rem;
  }

  .item-1 i {
    transition: 0.5s;
    text-align: center;
    color: #425156;
    font-size: 2rem;
  }

  .item-1:hover {
    transform: scale(1);
    transition: 0.5s;
    color: #9dca37;
  }

  .item-1:hover p {
    transition: 0.5s;
    width: 300px;
    text-align: center;
    color: #425156;
    font-size: 1rem;
  }

  .item-1:hover i {
    transform: scale(1.2);
    transition: 0.5s;
    text-align: center;
    color: #9dca37;
  }

  .item-2 {
    color: #425156;
  }

  .item-2 p {
    transition: 0.5s;
    text-align: center;
    color: #425156;
    font-size: 0.5rem;
  }

  .item-2 i {
    transition: 0.5s;
    text-align: center;
    color: #425156;
    font-size: 2rem;
  }

  .item-2:hover {
    transform: scale(1);
    transition: 0.5s;
    color: #9dca37;
  }

  .item-2:hover p {
    transition: 0.5s;
    width: 300px;
    text-align: center;
    color: #425156;
    font-size: 1rem;
  }

  .item-2:hover i {
    transform: scale(1.2);
    transition: 0.5s;
    text-align: center;
    color: #9dca37;
  }

  .item-3 {
    color: #425156;
  }

  .item-3 p {
    transition: 0.5s;
    text-align: center;
    color: #425156;
    font-size: 0.5rem;
  }

  .item-3 i {
    transition: 0.5s;
    text-align: center;
    color: #425156;
    font-size: 2rem;
  }

  .item-3:hover {
    transform: scale(1);
    transition: 0.5s;
    color: #9dca37;
  }

  .item-3:hover p {
    transition: 0.5s;
    width: 300px;
    text-align: center;
    color: #425156;
    font-size: 1rem;
  }

  .item-3:hover i {
    transform: scale(1.2);
    transition: 0.5s;
    text-align: center;
    color: #9dca37;
  }

  .pie-de-pagina .grupo-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pie-de-pagina .grupo-1 .box-1 {
    display: none;
  }

  .pie-de-pagina .grupo-1 .box-2 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
  }

  .pie-de-pagina .grupo-1 .box-3 {
    grid-column: 2/3;
    grid-row: 1/2;

    margin: 10px;
  }

  .pie-de-pagina .grupo-1 .box-2 h2 {
    margin: 10px;
  }
  .pie-de-pagina .grupo-1 .box-3 h2 {
    margin: 10px;
  }

  .pie-de-pagina .grupo-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/**CONTAINER MEDIAQUERY GALERIA*/ /* ?MOBILE FIRST*/

@media (min-width: 768px) {
  .nav-link {
    z-index: 100;
  }

  .navbar-toggler {
    z-index: 1000;
  }
  .container-galeria {
    transition: all 0.5s;
  }

  .main-index {
    display: grid;
    height: 100%;
    grid-row: 2/4;
    background-color: #e0e5e9;
  }

  .titulo-galeria {
    z-index: 1;
  }

  .container-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto (minmax(1fr 1fr));
    gap: 10px;
    margin: 20px;
    width: 100%;
  }

  .container-galeria .item-galeria-1 {
    grid-column: 1/3;
    max-width: 1000px;
    position: relative;
    min-height: 250px;
  }

  .container-galeria .item-galeria-2 {
    grid-column: 1/2;
    grid-row: 2/5;
    height: 100%;
    max-width: 768px;
    position: relative;
    object-fit: cover;
    min-height: 250px;
  }

  .container-galeria .item-galeria-3 {
    max-width: 768px;
    max-height: 350px;
    position: relative;
    min-height: 250px;
  }

  .container-galeria .item-galeria-4 {
    max-width: 768px;
    max-height: 350px;
    position: relative;
    min-height: 250px;
  }

  .container-galeria .item-galeria-5 {
    grid-column: 2/3;
    grid-row: 2/4;
    max-width: 768px;
    max-height: 350px;
    position: relative;
    min-height: 250px;
  }

  .container-galeria .item-galeria-6 {
    max-width: 768px;
    max-height: 350px;
    position: relative;
    min-height: 250px;
  }

  .container-galeria .item-galeria-7 {
    grid-column: 2/3;
    grid-row: 5/8;
    max-width: 768px;
    position: relative;
    min-height: 250px;
  }

  .container-galeria .item-galeria-8 {
    max-width: 768px;
    max-height: 350px;
    position: relative;
    min-height: 250px;
  }
  .container-galeria .item-galeria-9 {
    grid-column: 1/3;
    max-height: 350px;
    position: relative;
    min-height: 250px;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    z-index: 100;
  }

  .navbar-toggler {
    z-index: 1000;
  }
  .container-galeria {
    transition: all 0.5s;
  }

  .main-index {
    display: grid;
    height: 100%;
    grid-row: 2/4;
    background-color: #e0e5e9;
  }

  .titulo-galeria {
    z-index: 1;
  }

  .container-galeria {
    transition: all 0.5s;
  }

  .container-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 300px);
    margin: 50px 100px;
    gap: 15px;
  }

  .container-galeria .item-galeria-1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-2 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/4;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-3 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 2/4;
    grid-row: 2/4;
    max-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-4 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-5 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 5/6;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-6 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: auto;
    grid-row: auto;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-7 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 3/5;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-8 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: auto;
    grid-row: auto;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }

  .container-galeria .item-galeria-9 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 1/3;
    grid-row: 5/6;
    min-height: 275px;
    min-height: 300px;
    max-width: 1600px;
  }
}
